In [66]:
import pandas as pd     # For data-preprocessing
from sklearn import datasets    # For loading iris datasets

In [67]:
# Load iris datasets
iris = datasets.load_iris()

# Transform iris.data to be DataFrame
iris.data = pd.DataFrame(iris.data, columns=iris.feature_names)
iris.data.head()

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2
3                4.6               3.1                1.5               0.2
4                5.0               3.6                1.4               0.2

In [68]:
# Decode categorical data as numeric to its real categories
iris.target=pd.Categorical.from_codes(iris.target, iris.target_names)

# Transform iris.target to be DataFrame
iris.target = pd.DataFrame({'species' : iris.target})
iris.target

       species
0       setosa
1       setosa
2       setosa
3       setosa
4       setosa
..         ...
145  virginica
146  virginica
147  virginica
148  virginica
149  virginica

[150 rows x 1 columns]